# Node modules
node_modules/
**/node_modules/

# Puppeteer local Chromium
**/.local-chromium/

# Environnements
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
# WhatsApp Web JS session/cache
.wwebjs_auth/
.wwebjs_cache/
