.container-raking {
    background: url('./../../../assets/wall_raking.png');
    background-size: cover;
    flex-direction: row;
}
.card-cus-raking{
    width: 250px;
}

.user-animation {
    animation: user-gradient 1.5s ease-in-out infinite;
}

@keyframes user-gradient {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.fs-custom-raking { 
    font-size: 5rem;
    font-weight: bold;
    color: azure;
    text-align: center;
}
/* === Animation cercle doré autour de l'avatar === */
.b-2 {
  position: relative;
  animation: goldenPulse 2s infinite ease-in-out;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.7), 0 0 60px rgba(255, 223, 0, 0.5);
}

@keyframes goldenPulse {
  0% {
    box-shadow: 0 0 15px rgba(225, 0, 255, 0.5),
                0 0 30px rgba(255, 223, 0, 0.4);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 40px rgb(238, 0, 255),
                0 0 80px rgba(255, 223, 0, 0.8);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 0, 72, 0.5),
                0 0 30px rgba(255, 223, 0, 0.4);
    transform: scale(1);
  }
}

/* === Texte Félicitations en doré brillant === */
.felicitation-card {
  font-weight: bold;
  background: linear-gradient(90deg, #FFD700, #FFDF00, #FFA500, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineText 3s infinite linear;
}

@keyframes shineText {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

/* === Confettis en arrière-plan === */
@keyframes confetti {
  0% { transform: translateY(-100vh) rotate(0deg); opacity: 1; }
  100% { transform: translateY(100vh) rotate(720deg); opacity: 0; }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(248, 180, 8);
  top: -10px;
  border-radius: 50%;
  animation: confetti linear forwards;
}
/* ===------------------------ */

