# CONNEXION BASE DE DONNÉE MAMP (valeurs d'usine)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=funquiz
DB_PORT=8889
#CONNEXION SERVEUR
IP=localhost
PORT= 5100
#JESONWEBTOKEN
JWT_SECRET=fun_quiz
#SEND MAIL
EMAIL=sitefinovas@gmail.com      
PASSWORD=bxot essf mprj kyis
#GOOGLE CLOUD ID
GOOGLE_CLIENT_ID=1028606113011-c3cqk39l5vu17csfsnsgv1r5hrqsvbqe.apps.googleusercontent.com